{% extends 'NavBar.html' %}
{% block content %}
{% load static %}
    <link href="https://fonts.googleapis.com/css?family=Kanit&amp;subset=thai" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/createassignment.css' %}">
    <link rel="stylesheet" media="all" type="text/css" href="{% static "library/js/jquerydatepicker/jquery-ui.css" %}"/>
    <link rel="stylesheet" media="all" type="text/css" href="{% static "library/js/jquerydatepicker/jquery-ui-timepicker-addon.css" %}"/>
    <script src="{% static 'grading_code/js/pupupbtn.js' %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-ui-timepicker-addon.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-ui-sliderAccess.js" %}"></script>

<!-- input data in main ex. text or etc -->
    <div id="main" >
        <div class="center">
                <h3>Create Assignment</h3>
        </div>
        <div class="div">
            <form action="{% url 'Class_Management:Assign_Management:GenerateAssign' request.session.classroom %}" method="post" enctype="multipart/form-data"
              > {% csrf_token %}
                <label for="assignmentname">Assignment name:</label>
                <input type="text" id="assignmentname" name="asname" placeholder="Assignment name">

                <label for="assignmentdetail">Assignment detail:</label>
                <textarea type="text" id="assignmentdetail" name="asdetail" placeholder="Assignment detail"></textarea>

                <label for="test_case">Test case:</label>
                <textarea type="text" id="test_case" name="upload_testcase" placeholder="assert_equal(actual,expected,points,[Optional]hidden=False by default)"></textarea>

                <label for="upload_template">Code template:</label>
                <textarea type="text" id="upload_template" name="upload_template" placeholder="Code template"></textarea>

                <label for="mode">Mode:</label>
                <select name="mode">
                        <option value="Pass or Fail"> Pass or Fail</option>
                        <option value="Scoring"> Scoring </option>
                </select>

                <label for="hint">Hint:</label>
                <input type="text" id="lhint" name="hint" placeholder="Hint">

                <label for="timer">Timer:</label>
                <input type="text" id="ltimer" name="timer" placeholder="Hour:Minute:Second  ex.1:00:00 or 1:30:30">

                <label for="deadline">Deadline:</label>
                <script type="text/javascript">
                    $(function(){
                    $("#dateInput").datetimepicker({
                      dateFormat: 'yy-mm-dd',
                      timeFormat: 'HH:mm:ss',
                      });
                });
                </script>
                <input type="text" name="dateInput" id="dateInput" placeholder="ex.2017-11-29 07:07:32">

                    <input type="submit" value="Create">
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags == error %} class="alert alert-danger"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <script>
                        alert("{{ message }}");
                    </script>
                    {% endif %}
                </p>
    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>

    <script>
    jQuery("#jQueryUICalendar1").datepicker();
    </script>
{% endblock %}
