{% extends 'NavBar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/createassignment.css' %}">
    <link rel="stylesheet" media="all" type="text/css" href="{% static "library/js/jquerydatepicker/jquery-ui.css" %}"/>
    <link rel="stylesheet" media="all" type="text/css" href="{% static "library/js/jquerydatepicker/jquery-ui-timepicker-addon.css" %}"/>
    <script src="{% static 'grading_code/js/pupupbtn.js' %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-ui-timepicker-addon.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquerydatepicker/jquery-ui-sliderAccess.js" %}"></script>

<!-- input data in main ex. text or etc -->
    <div id="main" >
        <div class="center">
            <h3>Create Assignment</h3>
        </div>
        <div class="div">
            <form action="{% url 'Class_Management:Assign_Management:GenerateAssign' %}" method="post" enctype="multipart/form-data"
              > {% csrf_token %}
                <label for="assignmentname">Assignment name:</label>
                <input type="text" id="assignmentname" name="asname" placeholder="input assignment name..">

                <label for="assignmentdetail">Assignment detail:</label>
                <textarea type="text" id="assignmentdetail" name="asdetail" placeholder="input assignment detail.."></textarea>

                <label for="test_case">Test case:</label>
                <input type="file" name="upload_testcase" style="display:none" />
                <input type="text" name="uploadtext_testcase" id="uploadtext_testcase" onkeydown="test_case.value=testtext_case.value" onchange="document.getElementById('uploadtext_testcase').value = this.value.split('\\').pop().split('/').pop()">
                <input type="button" name="uploadbutton" value="Choose File" onclick="upload_testcase.click()" onmouseout="uploadtext_testcase.value=upload_testcase.value">

                <label for="upload_template">Code template:</label>
                <input type="file" name="upload_template" style="display:none" />
                <input type="text" name="uploadtext_template" onkeydown="upload_template.value=uploadtext_template.value ">
                <input type="button" name="uploadbutton" value="Choose File" onclick="upload_template.click()" onmouseout="uploadtext_template.value=upload_template.value">

                <label for="hint">Hint:</label>
                <input type="text" id="lhint" name="hint" placeholder="input hint..">

                <label for="timer">Timer:</label>
                <input type="text" id="ltimer" name="timer" placeholder="Hour:Minute  ex.1:00 or 1:30">

                <label for="deadline">Deadline:</label>
                <script type="text/javascript">
                    $(function(){
                    $("#dateInput").datetimepicker({
                      dateFormat: 'yy-mm-dd',
                      timeFormat: 'HH:mm:ss',
                      });
                });
                </script>
                <input type="text" name="dateInput" id="dateInput" placeholder="ex.2017-11-29 07:07:32">


                <input type="submit" value="Create">
            </form>
        </div>
    </div>

    <script>
    jQuery("#jQueryUICalendar1").datepicker();
    </script>
{% endblock %}