############# framework ############# 
Django==2.0.3
django-session-timeout
#django-mathfilters
#django-globals
#django-bootstrap4

############# WSGI #############
#uWSGI
gunicorn

############# utility #############
pytz
RestrictedPython==4.0b4
timeout-decorator
psycopg2-binary
python-resources
mosspy
############# pytest #############
#pytest
#pytest-timeout
#docker
#redis