<!DOCTYPE html>
<html lang="en">
{% block content %}
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="icon" type="png" href="{% static 'grading_code/images/logo.png' %}" />
    <title>Saming</title>

    <link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/forgot.css' %}">
    <script src="{% static 'grading_code/js/forgotpassword.js' %}"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet'
        type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <!-- input data in main ex. text or etc -->
    <body background="{% static '/grading_code/images/background.png' %}">
    <div id="main">
        <div class="center">
            <h3>Forgot your password?</h3>
            <br>
        </div>
        <div class="div">
            <form method="post">
                {% csrf_token %}
                <label for="fname">E-mail:</label>
                <input type="text" id="fname" name="Email" placeholder="Your E-mail..">

                <input type="submit" value="Reset password" onclick="myFunction()">
                <br></br>
                <p id="demo"></p>

            </form>

        </div>
    </div>
    </body>
    </html>
{% endblock %}