{% extends "NavBar.html" %}
{% block content %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/changepasswords.css' %}">
<div id="main">
    <div class="center">
        <h3>Change password for SAMING</h3>
        <br>
    </div>
    <div class="div">
        <form method="post">
            {% csrf_token %}
            <label for="lname">New password:</label>
            <input type="password" id="lname" name="newpassword" placeholder="New password..">

            <label for="lname">Comfirm password:</label>
            <input type="password" id="lname" name="confirmpassword" placeholder="Comfirm new password..">
            <input type="submit" value="Confirm">
        </form>
    </div>
    <center><br>{{ change_pass_status }}</center>
</div>

{% endblock content %}