{% extends "NavBar.html" %}
{% block content %}
<center>

<h1>
				<legend>Change Password</legend><br />
			<table>
			<tr>
<td>Change Password</td>
<td><input id="Email" name="Email"/></td>
</tr>
<tr>
<td>Password</td>
<td><input id="Password" name="Password"/></td>
</tr>
<tr>
<td>New Password</td>
<td><input id="New Password" name="New Password"/></td>
</tr>
<tr>
<td colspan=”2″>
<center>
<input type=submit value=Save />
<input type=reset value=Cancel /></center>
</center>

{% endblock content %}