
{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Kanit&amp;subset=latin-ext,thai,vietnamese" rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/createassignment.css' %}">

<style>
body {
    margin: 0;
    background: white url("paper.png"); 
    font-family: 'Kanit', sans-serif;
	font-size: 16px;
    font-weight: 300;
    overflow-y: auto;
}
.center {
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

input[type=text], select {
    font-family: 'Kanit', sans-serif;
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=submit] {
    font-family: 'Kanit', sans-serif;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1e90ff;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

input[type=button] {
    font-family: 'Kanit', sans-serif;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}

.div {
    font-family: 'Kanit', sans-serif;
    width: 50%;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    border-style: solid;
    box-shadow: 0 5px 50px rgba(0,0,0,0.1);
	border: 1px solid #ccc;
    
}

textarea {
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 250px;
    padding: 14px 20px;
    resize: none;
    border: none;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

</style>
<!-- input data in main ex. text or etc -->
<body style="background-image: url('{% static "grading_code/images/background.png"%}')";>
    <div id="main" >
        <div class="center">
                <h3>Create Classroom</h3>
        </div>
        <div class="div">
            <form action="{% url 'Class_Management:GenerateClassroom' %}" method="post" enctype="multipart/form-data"
              > {% csrf_token %}
                <label for="classname">Classname:</label>
                <input type="text" id="classname" name="classname" placeholder="input class name..">
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</body>
{% endblock %}