{% extends "NavBar.html" %}
{% block content %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/grading_code/css/createroom.css' %}">
    <script src="{% static '/grading_code/js/popup.js' %}"></script>

    <!-- Trigger/Open The Modal -->

    <!-- input assignment -->
    <div class="banner">
        <div class="nameclass">{{ classname }}</div>
        <div class="nameadmin">Bawornsak sakulkueakulsuk</div>
    </div>

    <div id="main">
    {% if add_status == 1 %}
        <script>
            alert("Added Success.");
        </script>
        {% elif add_status == 2 %}
        <script>
            alert("Failed,Check your input email.");
        </script>
        {% elif add_status == 3 %}
        <script>
            alert("Deleted Success.");
        </script>
    {% endif %}
        <div class="row">
            <div class="column side">
                <div class="boxadmin">


                    <p>Teacher:</p>
                    {% for i in user_group.teacher %}
                        <p>{{ i.get_full_name }}</p>
                    {% endfor %}
                    <p>TA:</p>
                    {% for j in user_group.ta %}
                        <p>{{ j.get_full_name }}</p>
                    {% endfor %}
                </div>
                {%  if request.user.is_admin %}
                <button id="myBtn" class="boxadd">Add Admin</button>
                {% endif %}
            </div>

            <div class="column middle">
            {%  for i in quiz %}
                <div class="boxassign">
                    <div class="nameassign">{{ i.quizTitle }}</div>
                </div>
                <div class="boxassign2">
                    {%  if request.user.is_admin %}
                    <button class="delete" onclick="delQuiz('{% url 'Class_Management:Assign_Management:DeleteAssign' request.session.classroom i.id %}', '{{ i.quizTitle }}')" >Delete</button>
                    <button class="delete" onclick="location.href='{% url 'Class_Management:Assign_Management:EditAssign' request.session.classroom i.id %}'">Edit</button>
                    <button class="delete" onclick="location.href='{% url 'Class_Management:Assign_Management:Uploadfile' request.session.classroom i.id %}'">View</button>
                    {%  else %}
                    <button class="delete" onclick="location.href='{% url 'Class_Management:Assign_Management:Uploadfile' request.session.classroom i.id %}'">Open</button>
                    {% endif %}
                    <div class="detail">
                        <p>Assignment name : {{ i.quizTitle }}</p>
                        <p>Hint: {{ i.hint }}</p>
                        {% if i.quiztimer_set.all.0.timer %}
                            <p>Time: {{ i.quiztimer_set.all.0.timer_stop }} </p>
                        {% endif %}
                        <p>Deadline : {{ i.deadline }}</p>
                    </div>
                </div>
                {% endfor %}

                {%  if request.user.is_admin %}
                <div class="tooltip">
                    <button1>
                        <span class="tooltiptext">Create Quiz</span>
                        <a href="{% url 'Class_Management:Assign_Management:GenerateAssign' request.session.classroom %}">
                            <img src="{% static '/grading_code/images/Pluss.png' %}" width="50" height="51" alt="">
                        </a>
                    </button1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h4>Add Admin</h4>
            </div>
            <div class="modal-body">
                <form method="post"> {% csrf_token %}
                    <br>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="firstemail" placeholder="Add e-mail..">

                    <label for="country">Status:</label>
                    <select id="country" name="country">
                        <option value="Teacher"> Teacher</option>
                        <option value="TA"> TA</option>
                        {% if request.user.is_admin %}
                        <option value="Admin"> Admin</option>
                        {% endif %}
                    </select>

                    <label for="country">Action:</label>
                    <select id="country" name="action">
                        <option value="add"> Add</option>
                        <option value="delete"> Delete</option>
                    </select>
                    <br></br>
                    <input type="submit" name="add_status" value="PROCEED">

                    <br></br>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        function delQuiz(url,name) {
            if (confirm("Delete "+name+' ?')){
                location.href=url;
                x = location.href;
            }
            else{
                window.close();
            }
        }
    </script>
{% endblock %}