{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/grading_code/css/createroom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/aboudocument.css' %}">
<style>
    body {
    margin: 0;
    background: white url('{% static "grading_code/images/background.png"%}');
    font-family: 'Lato', sans-serif;
	font-size: 16px;
    font-weight: 300;
    overflow-y: auto;
}
.butt {
	height: 40px;
	width: 80px;
	background-color: #34B3A0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
    border-radius: 5%;
}
</style>
<body>
<ul>
    <h1  style=" margin-top:10px"><center>Classrooms</center></h1>
    {% for class in list_class%}
    <a href="{% url 'Class_Management:Home' class.className %}">
        <div >
            <div class="div" >
                {{class.className}}
            </div></a>
            {% if request.user.is_admin %}
                <div style="margin-left:80%; margin-top:10px; margin-bottom:10px;">
                    <button class="butt" onclick="location.href='{% url 'Class_Management:EditClassroom' class.className %}'">Edit</button>
                    <button class="butt" onclick="location.href='{% url 'Class_Management:DeleteClassroom' class.className %}'">Delete</button>
                </div>
            {% endif %}
    {% endfor %}
</ul>
{% if request.user.is_admin %}
 <div class="tooltip">
                    <button1>
                        <span class="tooltiptext">Classroom</span>
                        <a href="{% url 'Class_Management:GenerateClassroom' %}">
                            <img src="{% static '/grading_code/images/Pluss.png' %}" width="50" height="51" alt="">
                        </a>
                    </button1>
                </div>
{% endif %}
</body>
{% endblock %}
