{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Kanit&amp;subset=latin-ext,thai,vietnamese" rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static '/grading_code/css/createroom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/aboudocument.css' %}">
<style>
    body {
    margin: 0;
    background: white url('{% static "grading_code/images/background.png"%}');
    font-family: 'Kanit', sans-serif;
	font-size: 16px;
    font-weight: 300;
    overflow-y: auto;
}
.butt {
    font-family: 'Kanit', sans-serif;
	height: 40px;
	width: 80px;
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
    border-radius: 5%;
    text-decoration:none;
}

.butt:hover {
    background: #1e90ff;
    color: #fff;
}

.div {
    font-family: 'Kanit', sans-serif;
    color: rgb(0, 0, 0);
    width: 60%;
    border-radius: 5px;
    background-color: rgb(230, 228, 228);
    padding: 20px;
    margin: center;
    border-style: solid;
    box-shadow: 0 5px 50px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    text-decoration:none;
    cursor: pointer;
}

.div:hover,
.div:focus{
    color: rgb(148, 148, 148);
    background:rgb(236, 236, 236);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=button] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 2px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-family: 'Kanit', sans-serif;
	color: white;
	text-align: center;
}

input[type=button]:hover {
    background-color: #1e90ff;
	color: #fff;
}
</style>
<body>
<ul>
    <h1  style=" margin-top:10px"><center>Classroom</center></h1>
    {% for class in list_class%}
    <a href="{% url 'Class_Management:Home' class.className %}">
            <div class="div" >
                {{class.className}}
            </div></a>
            <br></br>
                {% if request.user.is_admin %}
                <div style="margin-left:65%; margin-top:10px; margin-bottom:10px;">
                        <button class="butt" onclick="location.href='{% url 'Class_Management:EditClassroom' class.className %}'">Edit</button>
                        <button class="butt" onclick="location.href='{% url 'Class_Management:DeleteClassroom' class.className %}'">Delete</button>
                </div>
                <br></br>
                {% endif %}
        {% endfor %}
    
</ul>

{% if request.user.is_admin %}
 <div class="tooltip">
                    <button1>
                        <span class="tooltiptext">Classroom</span>
                        <a href="{% url 'Class_Management:GenerateClassroom' %}">
                            <img src="{% static '/grading_code/images/Pluss.png' %}" width="50" height="51" alt="">
                        </a>
                    </button1>
                </div>
{% endif %}
</body>
{% endblock %}
