{% extends "NavBar.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'grading_code/css/informmation.css' %}">

    <div id="main">
        <div class="center">
            <h2>Information</h2>
        </div>

        <div class="back">
            <table id="customers">
                <tr>
                    <th>File Name</th>
                    <th>Score</th>
                    {% if request.user.userId == userId %}
                    <th><input type="checkbox" name="chkall" id="chkall" onclick="chkall(this)" style="display:none"></th>
                    {% endif %}
                </tr>
                {%  for i in file_list %}
                <tr>
                    <td>
                        <a href="{% url 'Class_Management:StudentQuizInfo' request.session.classroom userId quiz_id i.id %}">{{ i.title }}</a>
                    </td>
                    <td>
                        {{ i.score }}
                    </td>
                    <form method="post"> {% csrf_token %}
                        {% if request.user.userId == userId %}
                    <td>
                        <input type="checkbox" id="myCheck{{i.title}}" name="cb" value="{{ i.title }}" onclick="checkFile('{{i.title}}')">

                    </td>
                        {% endif %}
                        {% if i.title == score_pointer %}
                        <td>&#9989</td>
                        {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% if request.user.userId == userId %}
            <button type="submit" id="bbox" name="delete" style="display:none;">Delete</button>
            {% endif %}
            </form>
        </div>
    </div>

<script>
    var x = 0;
    var y = document.getElementById("bbox")
    var checkBoxes = document.getElementsByName("cb");
    var temp = document.getElementById("chkall");
    for(var c=0, n=checkBoxes.length;c<n;c++);
    if (c>0){temp.style.display="block";}
    function checkFile(title){
        var checkBox = document.getElementById("myCheck"+title);
        if (checkBox.checked == true){
            x += 1;
            if (x >= 1){
                if(x === c){ temp.checked = true;}
                y.style.display = "block"; console.log("WHAT");
            }
            //console.log("x:"+x+" c:"+c)
        }
        else{
            x -= 1
            temp.checked = false;
            if ( x==0 ){
                y.style.display = "none";
            }
            //console.log("x:"+x+" c:"+c)
        }
    }
    function chkall(source){
            checkBoxes = document.getElementsByName("cb");
            x = 0
            for(var i=0, n=checkBoxes.length;i<n;i++) {
                x += 1
                checkBoxes[i].checked = source.checked;
            }
            c = x;
            if ( x==0 ){
                y.style.display = "none";
            }
            else if (source.checked == false){
                x = 0
                y.style.display = "none";
            }
            else {y.style.display = "block";}
            //console.log("x:"+x+" c:"+c)
    }
</script>
{% endblock %}