body{
    margin-top: 50px;
	background: url("css/paper.png");
	font-family: 'Lato', sans-serif; 
	font-size: 16px;
    font-weight: 300px;
    background: white url("paper.png"); 
}

.center {
    margin: 0;
    text-align: center;
}

.h1 {
	font-size: 24px;
	color: black;
	margin: 0 auto;
    padding-top: 10px 10px;
    font-weight: normal;
	/*position: relative;*/
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 1px solid #87CEFA;
    box-shadow: 0 0 10px #87CEFA;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]:focus {
    border: 1px solid #87CEFA;
    box-shadow: 0 0 10px #87CEFA;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.div {
    width: 20%;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 20px;
    margin: auto;
    border-style: solid;
    box-shadow: 0 5px 50px rgba(0,0,0,0.1);
	border: 1px solid #ccc;
}

.forgot{
    font-size: 14px;
    text-align: center;
    color: #1C86EE;
    cursor: pointer;
    text-decoration: none;
}

.forgot:hover {
    color: #FF0000;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

a {
	text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4F4F4F;
    color: rgb(206, 206, 206);
    text-align: center;
 }

 .footer:hover {
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
 }