body {
    margin: 0;
    background: white url("paper.png"); 
    font-family: 'Lato', sans-serif;
	font-size: 16px;
    font-weight: 300;
    overflow-y: auto;
}

.navbar {
    overflow: hidden;
    background-color: #4F4F4F;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* no dropdown */
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    margin-right: 50px;
    padding: 16px 25px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    /*min-width: 300px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 50px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: green;
    color: white;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    float: left;
    margin-left: 20px;
    padding: 5px 5px;
}

.logo1 {
    border: none;
    width: 40px;
    height: 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 100%;
    background-color: #4F4F4F;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
}

.logo1:hover{
    background-color: #555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #555;
}

#wrap {
    float: left;
    position: relative;
    left: 23%;
}

#content {
    float: left;
    position: relative;
    left: -23%;
}

.tab {
    overflow: hidden;
    background-color: #4F4F4F;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    width: 80px;
    height: auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgb(206, 206, 206);
    padding: 15px 0px;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background: #4F4F4F;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background: rgb(121, 120, 120);
    padding: 15px 0px;
}

.sidenav {
    height: 87%;
    width: 0;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left : 0;
    background-color: #DCDCDC;
    
    padding-top: 30px; /* set hight Home*/
    overflow-x: hidden;
    overflow-y: auto;
}

.sidenav a {
    padding: 4px 8px 8px 30px; /* set ขอบ */
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: black;
    display: block;
    
}

.sidenav a:hover {
    background-color: #BEBEBE;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px; /* change */
    font-size: 26px;
    margin-right: 0px; /* set destane x of right */
}

#main {
    padding: 16px;
}

@media screen and (max-height: 50px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}