* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #204056;
    font-family: 'Lato', sans-serif;
	font-size: 16px;
    font-weight: 300;
    overflow-y: auto;
}

.navbar {
    overflow: hidden;
    background-color: #204056;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* no dropdown */
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    margin-right: 50px;
    padding: 16px 25px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 178px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: green;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    float: left;
    margin-left: 20px;
    padding: 5px 5px;
}

.logo1 {
    border: none;
    width: 40px;
    height: 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 100%;
    background-color: #204056;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
}

.logo1:hover{
    background-color: #344b5a;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #555;*/
}

.sidenav {
    height: 93%;
    width: 0;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left : 0;
    background-color: rgba(43,56,66,0.3);
    transition: 0.5s;
    padding-top: 60px; /* set hight Home*/
    overflow-x: hidden;
    overflow-y: auto;
}

.sidenav a {
    padding: 4px 8px 8px 30px; /* set ขอบ */
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #BEBEBE;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px; /* change */
    font-size: 26px;
    margin-right: 0px; /* set destane x of right */
}

#main {
    transition: margin-left .5s;
    /*padding: 5px;*/
}

@media screen and (max-height: 50px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.scroll {
    background-color: #f9f9f9;
    /*width: 500px;*/
    height: 550px;
    overflow-y: auto;
    border: 3px solid #f1f1f1;
    padding: 5px 10px;
}

.scroll:focus {
    border: 3px solid #f1f1f1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #f1f1f1;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 5px;
}

/* Left and right column */
.column.side {
    width: 30%;
}

/* Middle column */
.column.middle {
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

textarea {
    width: 100%;
    height: 505px;
    padding: 12px 10px;
    /*box-sizing: border-box;*/
    /*border: 2px solid rgb(37, 63, 63);*/
    color: white;
    background-color: #385e77;
    font-size: 16px;
    resize: none;
    border: none;
}

.textarea1 {
    background-color: #385e77;
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px 10px;
}


.result {
    color: white;
    background-color: black;
    /*width: 500px;*/
    height: 505px;
    overflow-y: auto;
    padding: 5px 10px;
}

.result1 {
    background-color: black;
    /*width: 500px;*/
    height: 40px;
    overflow-y: auto;
    margin: 4px 0px;
    padding: 2px 10px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    padding: 10px;
   
}

.button {
    background-color: rgb(27, 151, 143);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(17, 114, 107);
}

.button1:hover {
    background-color: rgb(27, 151, 143);
}

h1 {
    text-align: left;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
}
.p {
    text-indent: 30px;
    text-align: justify;
}

#wrap {
    float: left;
    position: relative;
    left: 23%;
}

#content {
    float: left;
    position: relative;
    left: -23%;
}

.tab {
    overflow: hidden;
    background-color: #4F4F4F;
}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    width: 80px;
    height: auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: rgb(206, 206, 206);
    padding: 15px 0px;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background: #4F4F4F;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background: rgb(121, 120, 120);
    padding: 15px 0px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: block;
    border: none;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
	font-size: 16px;
    font-weight: 300;
}


input[type=button] {
    background-color: rgb(17, 114, 107);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(27, 151, 143);
}