/* import background and background center fixed */
body {
	/*background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;*/
	background: #F8F8FF;
} 

/* Typography ��� ��ǹ�ʴ��Ţͧ Saming Programming*/
h1#title {
	/*font-family: 'Roboto Slab', serif;*/ /*��˹� front �ç saming programming �ͧ��*/ 
	/*font-weight: 300;*/
	font-family: 'Roboto Slab';
	/*text-transform: uppercase;*/
	font-size: 1.5em;
	color: black;
	/*text-shadow: 0 0 10px rgba(0,0,0,0.8);*/
	margin: 0 auto;
	padding-top: 10px;/* saming programming position*/
	max-width: 300px;
	text-align: center;
	/*position: relative;*/
	top: 0px;
}

h1#title span span {
	font-weight: 400;
}

/* text log-in*/
h2 {
	font-family: 'Lato', serif;
	/*text-transform: uppercase;*/
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

/* �մ��ѹ��*/
a {
	text-decoration: none;
	/*color: #666;*/
}

a:hover {
	color: #FF0000;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}


/* Layout */
.container {
	margin: 0;
}

/*�մ� ��ҹ��*/
/*.top {
	margin: 0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
/*}*/


/*��ǹ�����ѧ�բ��*/
.login-box {
	background-color: white;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	/*box-shadow: 0 5px 50px rgba(0,0,0,0.1);*/
	text-align: center;
	border: 1px solid #ccc;/*��ͺ*/
}

/*��ǹ��������*/ /* �ç����Ҩ������ͧ��*/
.login-box .box-header {
	background-color:  white;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

/*��˹�����Т�Ҵ����ѡ�� userId ��� password*/
.login-box label {
	font-family: 'Lato', serif;
	font-weight: 700;
	font-size: .8em;
	color: black;
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
	line-height: 2em;
	
	
}

/*��˹���Ҵ text �Ѻ��������� front ����͹ŧ� */
.login-box input {
	margin-bottom: 20px;
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 1.3em;/*��Ҵ text �Ѻ��ͤ���*/
	color: #888;
}

/*------------*//*
.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}*/

/*��˹� ����Т�Ҵ ���� button*/
.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	/*text-transform: uppercase;*/
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #FF6600;/*�տ��*/
	/*cursor:pointer;*/
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #665851!important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
	
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}