.show1 {
    display: block;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 8px;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover1,
.close:focus1 {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}

.modal-header {
    padding: 0px 18px;
    background-color: #333;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}

.modal-body {
    padding: 2px 16px;
	
	color:#000;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ff008c;
    color: rgb(0, 139, 133);
}
/*��ǹẺ�����*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #333;
    color: rgb(199, 199, 199);
    padding: 12px 20px;
    border: 8px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #107700;
}

.container {
    border-radius: 5px;
    background-color: #ff0000;
    padding: 20px;
}
button1{
    
    background:#000000;
    font-size:15px;      
    padding: 10px 10px 10px 10px;    
    color: rgb(255, 255, 255);
    font-weight: bold;    
    -moz-border-radius: ุ 10px;
    -webkit-border-radius: 10px;    
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);    
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);    
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: 1px;
    border-radius: 8px;   
    cursor: pointer;    
    border-left:none;    
    border-top:none;    
    margin:20px 60px 5px 20px;
}
    
button1:hover{    
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.modal-header1 {
    padding: 2px 16px;
    background-color: #333;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;
}

.modal-body1 {
    padding: 2px 16px;
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-footer1 {
    padding: 2px 16px;
    background-color: #ff008c;
    color: rgb(0, 139, 133);
}
.name {

	font-weight: bold;
	font-size: 16px;
	color: #FFF;
}
.bang {
	
	font-weight: bold;
	color: #000;
	font-size: 18px;
}
.leng {
	
	font-size: 14px;
	color: rgb(0, 0, 0);
}
ShowCase {
	
	font-size: 16px;
	color: #FFF;
}
tiltel {
	font-size: 18px;
}
.blue {
	color: #446CB3;
}
.assign {

	font-size: 16px;
	color: #000;
	font-weight: bold;
}
assignment {

	font-size: 14px;
	font-weight: normal;
}
.assignment {

	font-size: 16px;
	color: #00B16A;
}

.tablink1 {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    width: 10%;
}

.tablink1:hover {
    background-color: #777;
}

/*# {background}*/
#assignment1 {
	background-image: url(picture/1262.jpg);
	background-size: 100%;
	color: #000;
	font-size:16px;
	font-weight: bold;
}
#assignment2 {
	background-image: url(picture/1262.jpg);
	background-size: 100%;
	color: #000;
	font-size:16px;
	font-weight: bold;
}
/* Style the tab */
div.tab1 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab1 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab1 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab1 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent1 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}