.column {
    float: left;
    padding: 5px;
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.banner{
	width: 100%;
	height: 250px;
	background-image: url(5.jpg);
}

.boxassign{
	width: 100%;
	height: 50px;
	background-color: #3c3c3c;
	margin-left: 120px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.1);
}

.boxassign2{
	width: 100%;
	height: 140px;
	background-color: #f4f3ed;
	margin-left: 120px;
	margin-bottom: 40px;
	border: 1px solid #dad7d7;
	box-shadow: 0 5px 50px rgba(0,0,0,0.1);
}

.boxadmin {
	width: 100%;
	height:  250px;
	max-height: 500px;
	background-color: #f4f3ed;
	margin-left: 100px;
	border: 1px solid #dad7d7;
	box-shadow: 0 5px 50px rgba(0,0,0,0.1);
	overflow-y: auto;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
}

.boxadmin:hover {
	background-color: rgb(238, 235, 235);
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.boxadd {
	width: 100%;
	height:  50px;
	margin-left: 100px;
	border: 0.5px solid #b1b1b1;
	box-shadow: 1px 1px 2px 0px rgba(50,50,50,.4);
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boxadd:hover {
	background-color: #45a049;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.detail{
	text-indent: 20px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 15px;
	padding: 5px;
}

.nameassign{
	color: #fff;
	text-indent: 20px;
	font-size: 20px;
	font-weight: 300px;
	padding: 5px;
	padding-top: 10px;
}

.nameclass {
    padding-top: 90px;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	top: 90px;
    color: #FFFFFF;
}

.nameadmin {
    padding-top: 10px;
	font-size: 20px;
	text-align: center;
	top: 100px;
    color: #FFFFFF;
}

.delete {
	height: 40px;
	width: 80px;
	float: right;
	margin-top: 90px;
    margin-right: 10px;
	background-color: #34B3A0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline;
	cursor: pointer;
    border-radius: 5%;
}

.delete:hover {
	background: #46B4B4;
	color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
    
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 4px 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
    
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 60%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
    
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

button1{
    font-size:14px;  
    padding: 2px 1px 0px 1px;
    -moz-border-radius: à¸¸ 10px;
    -webkit-border-radius: 10px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    -webkit-transition-duration: 0.4s; /* Safari*/
    transition-duration: 0.4s;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: fixed;
    width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
}

button1:hover{ 
    background: rgba(255, 255, 255, 0.137); 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 5px 15px 30px 5px rgba(255, 255, 255, 0.137);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #f2f2f2;
    margin: auto;
    padding: 0;
    /*border: 1px solid #888;*/
    border-radius: 4px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(221, 216, 216);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(85, 81, 81);
    color: rgb(255, 255, 255);
    /*border: 1px solid rgb(207, 207, 207);*/
    /*border-radius: 4px;*/
}

.modal-body {
    padding: 2px 16px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 2px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #45a049;
}




